{% extends 'base.html' %}

{% block content %}


    
    <form>
        <input type="text" name="search" placeholder="Enter your query here">
        <input type="submit" value="Search">
    
    
    <p>
        Life Lessons from Famous Creators

The Shadow Side of Greatness: Success often comes with a shadow side and hidden costs. In this article, we examine the shadow side of Pablo Picasso's genius.
Famous Biologist Louis Agassiz on the Usefulness of Learning Through Observation: Self-awareness is critical for success in all fields. Read this article to learn how biologist Louis Agassiz taught self-awareness through observation.
Joseph Brodsky Explains Perfectly How to Deal With Critics and Detractors in Your Life: Famous poet Joseph Brodsky was exiled from his home in Russia and forced to leave the love of his life behind, never to be seen again. In 1988, Brodsky shared a beautiful strategy and method for dealing with the critics, detractors, and negative influences in your life.
Martha Graham on the Hidden Danger of Comparing Yourself to Others: Martha Graham, perhaps the most influential dance choreographer of the 20th century, explains why it is not your job to judge your own work
Lessons on Living a Meaningful Life from Nichelle Nichols: Actress Nichelle Nichols helped shape the Civil Rights Movement without realizing it. Read this article to learn how you can live a meaningful life.
Lessons on Living a Meaningful Life
The Top Life Regret of Dying Hospital Patients: Bronnie Ware is a nurse in Australia. She has spent more than a decade counseling dying people. Over that time span, she began recording the top regrets that people have on their death bed. Read the article to find out what this regret is, and how you can make sure that you don't end up feeling the same way.
The Proven Path to Doing Unique and Meaningful Work: In June of 2004, Arno Rafael Minkkinen stepped up to the microphone at the New England School of Photography to deliver the commencement speech. As he looked out at the graduating students, Minkkinen shared a simple theory that, in his estimation, made all the difference between success and failure. He called it The Helsinki Bus Station Theory.
The Easiest Way to Live a Short, Unimportant Life: The easiest way to live a short, unimportant life is to consume the world around you rather than contribute to it. But why is this true? And how can you apply it to your own life?
116 Years Old: Lessons Left Behind From the World's Oldest Living Person: During an interview with the Guinness Book of World Records, Besse Cooper was asked about the keys to living a long life. She offered two pieces of advice: “I mind my own business. And I don't eat junk food.” This article discusses the wisdom in those two simple statements and how you can use it to live better.

3 Life Lessons From My Own Life
What I Do When I Feel Like Giving Up: This moment when you don’t feel like doing the work? This is not a moment to be thrown away. This is not a dress rehearsal. This moment is your life as much as any other moment. Spend it in a way that will make you proud.
What I Do When it Feels Like My Work Isn't Good Enough: Read this article to learn how to deal with self-doubt and self-judgment, so that you can move past judging yourself and perform at a higher level.
Make Your Life Better by Saying Thank You in These 7 Situations: I'm starting to believe that “Thank You” is the most under-appreciated and under-used phrase on the planet. It is appropriate in nearly any situation and it is a better response than most of the things we say. Let's cover 7 common situations when we say all sorts of things, but should say “Thank You” instead.
The Shadow Side of Greatness: Success often comes with a shadow side and hidden costs. In this article, we examine the shadow side of Pablo Picasso's genius.
Famous Biologist Louis Agassiz on the Usefulness of Learning Through Observation: Self-awareness is critical for success in all fields. Read this article to learn how biologist Louis Agassiz taught self-awareness through observation.
Joseph Brodsky Explains Perfectly How to Deal With Critics and Detractors in Your Life: Famous poet Joseph Brodsky was exiled from his home in Russia and forced to leave the love of his life behind, never to be seen again. In 1988, Brodsky shared a beautiful strategy and method for dealing with the critics, detractors, and negative influences in your life.
Martha Graham on the Hidden Danger of Comparing Yourself to Others: Martha Graham, perhaps the most influential dance choreographer of the 20th century, explains why it is not your job to judge your own work
Lessons on Living a Meaningful Life from Nichelle Nichols: Actress Nichelle Nichols helped shape the Civil Rights Movement without realizing it. Read this article to learn how you can live a meaningful life.
Lessons on Living a Meaningful Life
The Top Life Regret of Dying Hospital Patients: Bronnie Ware is a nurse in Australia. She has spent more than a decade counseling dying people. Over that time span, she began recording the top regrets that people have on their death bed. Read the article to find out what this regret is, and how you can make sure that you don't end up feeling the same way.
The Proven Path to Doing Unique and Meaningful Work: In June of 2004, Arno Rafael Minkkinen stepped up to the microphone at the New England School of Photography to deliver the commencement speech. As he looked out at the graduating students, Minkkinen shared a simple theory that, in his estimation, made all the difference between success and failure. He called it The Helsinki Bus Station Theory.
The Easiest Way to Live a Short, Unimportant Life: The easiest way to live a short, unimportant life is to consume the world around you rather than contribute to it. But why is this true? And how can you apply it to your own life?
116 Years Old: Lessons Left Behind From the World's Oldest Living Person: During an interview with the Guinness Book of World Records, Besse Cooper was asked about the keys to living a long life. She offered two pieces of advice: “I mind my own business. And I don't eat junk food.” This article discusses the wisdom in those two simple statements and how you can use it to live better.

3 Life Lessons From My Own Life
What I Do When I Feel Like Giving Up: This moment when you don’t feel like doing the work? This is not a moment to be thrown away. This is not a dress rehearsal. This moment is your life as much as any other moment. Spend it in a way that will make you proud.
What I Do When it Feels Like My Work Isn't Good Enough: Read this article to learn how to deal with self-doubt and self-judgment, so that you can move past judging yourself and perform at a higher level.
Make 
The Shadow Side of Greatness: Success often comes with a shadow side and hidden costs. In this article, we examine the shadow side of Pablo Picasso's genius.
Famous Biologist Louis Agassiz on the Usefulness of Learning Through Observation: Self-awareness is critical for success in all fields. Read this article to learn how biologist Louis Agassiz taught self-awareness through observation.
Joseph Brodsky Explains Perfectly How to Deal With Critics and Detractors in Your Life: Famous poet Joseph Brodsky was exiled from his home in Russia and forced to leave the love of his life behind, never to be seen again. In 1988, Brodsky shared a beautiful strategy and method for dealing with the critics, detractors, and negative influences in your life.
Martha Graham on the Hidden Danger of Comparing Yourself to Others: Martha Graham, perhaps the most influential dance choreographer of the 20th century, explains why it is not your job to judge your own work
Lessons on Living a Meaningful Life from Nichelle Nichols: Actress Nichelle Nichols helped shape the Civil Rights Movement without realizing it. Read this article to learn how you can live a meaningful life.
Lessons on Living a Meaningful Life
The Top Life Regret of Dying Hospital Patients: Bronnie Ware is a nurse in Australia. She has spent more than a decade counseling dying people. Over that time span, she began recording the top regrets that people have on their death bed. Read the article to find out what this regret is, and how you can make sure that you don't end up feeling the same way.
The Proven Path to Doing Unique and Meaningful Work: In June of 2004, Arno Rafael Minkkinen stepped up to the microphone at the New England School of Photography to deliver the commencement speech. As he looked out at the graduating students, Minkkinen shared a simple theory that, in his estimation, made all the difference between success and failure. He called it The Helsinki Bus Station Theory.
The Easiest Way to Live a Short, Unimportant Life: The easiest way to live a short, unimportant life is to consume the world around you rather than contribute to it. But why is this true? And how can you apply it to your own life?
116 Years Old: Lessons Left Behind From the World's Oldest Living Person: During an interview with the Guinness Book of World Records, Besse Cooper was asked about the keys to living a long life. She offered two pieces of advice: “I mind my own business. And I don't eat junk food.” This article discusses the wisdom in those two simple statements and how you can use it to live better.

3 Life Lessons From My Own Life
What I Do When I Feel Like Giving Up: This moment when you don’t feel like doing the work? This is not a moment to be thrown away. This is not a dress rehearsal. This moment is your life as much as any other moment. Spend it in a way that will make you proud.
What I Do When it Feels Like My Work Isn't Good Enough: Read this article to learn how to deal with self-doubt and self-judgment, so that you can move past judging yourself and perform at a higher level.
Make 








    </p>
    
     </form>
    

{% endblock %}